/*Reset CSS*/
*{
	font-family: 'Quicksand', sans-serif;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
html{
	scroll-behavior: smooth;
}
body{
	margin: 0;
	padding: 0;
}
/* Loader*/


/* header */
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 10px;
	z-index: 10;
	transition: 0.5s;
}
header .logo{
	position: relative;
	color: #4D4D4D;
	font-weight: 600;
	font-size: 20px;
	transition: 0.5s;
	margin: 10px 10px 10px 92px;
	letter-spacing: 1px;
}
.logo img{
	height: 20px;
}
.logo1{
	color: #FFC71A;
}
header ul{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 92px;
}
header ul li{
	position: relative;
	list-style: none;
}
header ul li a{
	position: relative;
	margin: 0 30px;
	font-weight: bold;
	font-size: 14px;
	color: #fff;
	transition: 0.5s;
}
header ul li a:after{
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: #604AF4;
	transition: width 0.4s ease 0s, left 0.4s ease 0s;
	width: 0;
}
header ul li a:hover{
	color: #604AF4;
}
header ul li a:hover:after{
	width: 100%;
	left: 0;
}
/* Banner */
.banner{
	background-image: url("./img/background-banner-right.svg"),url("./img/background-banner-left.svg");
	background-repeat: no-repeat, no-repeat;
	height: 625px;
	position: relative;
	background-position-x: right, -43px;
	background-position-y: 0, 110px;
}
.container{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 16px;
	grid-row-gap: 0px;
	justify-content: center;
	padding: 0 120px;
	max-width: 1170px;
	margin: 0 auto;
}
.highlight{
	background: linear-gradient(180deg, rgba(255,255,255,0) 60%, #FFC71A 40%);
}
.banner-left{
	margin-top: 180px;
	color: #4D4D4D;
}
.banner-left h2{
	font-size: 30px;
	margin: 0;
}
.banner-left h1{
	font-size: 50px;
	margin: 10px 0;
	color: #604AF4;
}
.banner-left p{
	font-size: 18px;
	margin: 10px 0;
}
.banner-left .button-wrapper{
	margin: 40px 0;
}
.btn{
	padding: 8px 21px;
	color: #fff;
	font-size: 14px;
	border-radius: 5px;
	border: 1px solid #604AF4;
	cursor: pointer;
}
.btn-primary{
	background-color: #604AF4;
	transition: .5s;
}
.btn-primary:hover{
	background-color: #4e3eb3;
}
.btn-secondary{
	background-color: #fff;
	padding: 8px 11px;
	color: #604AF4;
	border: 1px solid #604AF4;
	transition: .5s;
}
.btn-secondary:hover{
	background-color: #604AF4;
	color: #fff;
}
.shadow{
	box-shadow: 0px 0px 12px rgba(0,0,0,0.3);
}
.ml-1{
	margin-left: 10px;
}
.hr-style{
	overflow: visible;
	padding: 0;
	border: none;
	border-top: medium double #333;
	color: #333;
	text-align: center;
}
hr{
	margin: 50px 0 5px;
	width: 250px;
}
.hr-style:after{
	content: "§";
	display: inline-block;
	position: relative;
	top: -0.7em;
	font-size: 1.5em;
	padding: 0 0.25em;
}
.social-wrapper{
	margin-left: 40px;
}
.social-wrapper a{
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	margin-left: 10px;
}
.fa-instagram{
	padding: 10px 12px;
	background-color: #4D4D4D;
	border-radius: 50%;
	transition: .5s;
}
.fa-instagram:hover{
	background-color: #DF4897;
}
.fa-linkedin{
	padding: 10px 12px;
	background-color: #4D4D4D;
	border-radius: 50%;
	transition: .5s;
}
.fa-linkedin:hover{
	background-color: #2867B2;
}
.fa-github{
	padding: 10px 12px;
	background-color: #4D4D4D;
	border-radius: 50%;
	transition: .5s;
}
.fa-github:hover{
	background-color: #2A3F4C;
}
.banner-right img{
	height: 575px;
	margin-left: 50px;
	margin-top: 50px;	
}
/* About us */
.about{
	background-image: url("./img/bg-about-right.svg"), url("./img/bg-about-left.svg");
	background-repeat: no-repeat, no-repeat;
	background-position: right,left;	
	margin-top: 30px;
	height: 420px;
}
.container-about{
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr;
	grid-column-gap: 16px;
	grid-row-gap: 0px;
	justify-content: center;
	padding: 0 120px;
	max-width: 1170px;
	margin: 0 auto;
}
.about-desc{
	margin-top: 50px;
}
.text-center{
	text-align: center;
}
.about h1{
	color: #4D4D4D;
	font-size: 25px;
}
.about p{
	text-align: justify;
}
.img-about img{
	height: 380px;
}
/* Skills */
.heading{
	text-align: center;
}
.heading h1{
	color: #4D4D4D;
	font-size: 25px;
	margin: 0;
	padding-top: 40px;
	padding-bottom: 25px;
}
.skills{
	height: 500px;
	background-color: #F8F8F8;
}
.container-skills{
	padding: 0 120px;
	max-width: 1170px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.card{
	width: 250px;
	height: 270px;
	margin: 12px;
	background: #fff;
	border-top-right-radius: 10px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	box-shadow: 0 14px 26px rgba(0,0,0,0.04);
	transition: all 0.3s ease-out;
	text-decoration: none;
}
.card:hover{
	transform: translateY(-5px) scale(1.005) translateZ(0);
  	box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px var(--box-shadow-color);
}
.card:hover .overlay{
	transform: scale(4) translateZ(0);
}
.card:hover .circle{
	border-color: var(--bg-color-light);
  	background: var(--bg-color);
}
.card:hover .circle:after{
	background: var(--bg-color-light);
}
.card:hover h6{
	color: var(--text-color-hover);
}
.card:active{
	transform: scale(1) translateZ(0);
  	box-shadow: 0 15px 24px rgba(0,0,0,0.11),
    0 15px 24px var(--box-shadow-color);
}
.card h6{
	font-size: 14px;
  	color: #4C5656;
  	margin-top: 20px;
  	z-index: 7;
  	transition: color 0.3s ease-out;
}
.circle{
	width: 131px;
	height: 131px;
	border-radius: 50%;
	background: #fff;
	border: 2px solid var(--bg-color);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 1;
	transition: all 0.3s ease-out;
}
.circle:after{
	content: "";
	width: 118px;
	height: 118px;
	display: block;
	position: absolute;
	background: var(--bg-color);
	border-radius: 50%;
	top: 7px;
	left: 7px;
	transition: opacity 0.3s ease-out;
}
.circle img{
	z-index: 10000;
	transform: translateZ(0);
	width: 90px;
}
.overlay{
	width: 118px;
	position: absolute; 
	height: 118px;
	border-radius: 50%;
	background: var(--bg-color);
	top: 37px;
	left: 60px;
	z-index: 0;
	transition: transform 0.3s ease-out;
	  
}
.javascript{
	--bg-color: #ffd861;
	--bg-color-light: #ffeeba;
	--text-color-hover: #4C5656;
	--box-shadow-color: rgba(255, 215, 97, 0.48);
}
.html{
	--bg-color: #faa459;
	--bg-color-light: #fcd8b9;
	--text-color-hover: #4C5656;
	--box-shadow-color: rgba(230, 126, 34, 0.48);
}
.php{
	--bg-color: #acb0ce;
	--bg-color-light: #8890b4;
	--text-color-hover: #4C5656;
	--box-shadow-color: rgba(230, 126, 34, 0.48);
}
.python{
	--bg-color: #b4c5d3;
	--bg-color-light: #4e7ea5;
	--text-color-hover: #4C5656;
	--box-shadow-color: rgba(52, 108, 155, 0.48);
}
